{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block main %}
<h1 class="text-h1 text-center mb-4">{% trans "Crie sua Conta" %}</h1>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup-form" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div style="width: 70%; display: flex; flex-direction: column; justify-content: center; margin: auto;">
      <div class="form-group">
        <label for="id_username">{% trans "Nome de Usuário:" %}</label>
        <input type="text" name="username" class="form-control" id="id_username" placeholder="{% trans 'Escolha um nome de usuário único' %}" required>
      </div>
      <div class="form-group">
        <label for="id_email">{% trans "Endereço de Email:" %}</label>
        <input type="email" name="email" class="form-control" id="id_email" placeholder="{% trans 'Digite seu endereço de email' %}" required>
      </div>
      <div class="form-group">
        <label for="id_password1">{% trans "Senha:" %}</label>
        <input type="password" name="password1" class="form-control" id="id_password1" placeholder="{% trans 'Escolha uma senha segura' %}" required>
      </div>
      <div class="form-group">
        <label for="id_password2">{% trans "Confirme sua Senha:" %}</label>
        <input type="password" name="password2" class="form-control" id="id_password2" placeholder="{% trans 'Digite a senha novamente' %}" required>
      </div>
      {% if redirect_field_value %}
    </div>
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction btn" style="background-color: rgb(57, 57, 255); color: white;" type="submit">{% translate "Sign Up" %}</button>
      </div>
    </div>
</section>
</form>

{% endblock %}