{% extends 'base.html' %}
{% block main %}
<h3>Detalhes da Reserva</h3>
<br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Empresa</th>
            <th>CNPJ</th>
            <th>Categoria</th>
            <th>Stand</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ reserva.nome_empresa }}</td>
            <td>{{ reserva.cnpj }}</td>
            <td>{{ reserva.categoria_empresa }}</td>
            <td>{{ reserva.stand }}</td>

        </tr>
    </tbody>
    {%endblock%}